<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <sectionGroup name="userSettings"
         type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="SeleniumWebAutomation.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings"
         type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Selenium.Config.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
      </sectionGroup>
   <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
   <section name="entityFramework"
         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         requirePermission="false"/>
   </configSections>

   <entityFramework>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      </providers>
   </entityFramework>

   <connectionStrings>
      <add name="SeleniumData"
         connectionString="data source=localhost\sqlexpress;initial catalog=SeleniumData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"/>
   </connectionStrings>

   <log4net debug="true">
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="C:\logs\Selenium.Web.log"/>
         <datePattern value=".yyyyMMdd-HHmm"/>
         <appendToFile value="true"/>
         <immediateFlush value="true"/>
         <maxSizeRollBackups value="10"/>
         <maximumFileSize value="10MB"/>
         <countDirection value="1"/>
         <rollingStyle value="Size"/>
         <staticLogFileName value="true"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601} %-5level [%property{log4net:HostName}] %property{ClientContext} - %message%newline"/>
         </layout>
      </appender>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
         </layout>
      </appender>
      <root>
         <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
         <level value="ALL"/>
         <appender-ref ref="RollingLogFileAppender"/>
         <appender-ref ref="ConsoleAppender"/>
      </root>
   </log4net>

   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
   </startup>
   <applicationSettings>
      <Selenium.Config.Settings>
         <setting name="WebUrlGoogle" serializeAs="String">
            <value>https://www.google.com</value>
         </setting>
         <setting name="WebUrlMbCarey" serializeAs="String">
            <value>https://www.mbcarey.com</value>
         </setting>
      </Selenium.Config.Settings>
   </applicationSettings>
</configuration>
