@page "/"

<PageTitle>Automation Example Web Application</PageTitle>

<h1>Automation Example Web Application</h1>

<div class="row">
    <div class="col">
        <h2>About</h2>
        <p>
            This project can be used to simulate a project or product application. Use the existing elements for validating your 
            Selenium UI automation tests or add additional ones and experiment with them.
        </p>
    </div>
</div>
